@model Mantenimiento.Models.ciudadModel
@{
    ViewBag.Title = "nuevaCiudad";
}

<h2>nueva Ciudad</h2>


@using (@Html.BeginForm("nuevaCiudad", "ciudad"))
{

    @Html.DropDownListFor(model => model.idEstado, Model.estados(), "-- Seleccione estado --")
    @Html.TextBoxFor(model => model.nombre)
    @Html.TextBoxFor(model => model.descripcion)

    <input type="submit" value="Registrar" />
}
