@model Mantenimiento.Models.ciudadModel
@{
    Layout = null;
    ViewBag.Title = "nuevaCiudad";
}

<h2>nueva Ciudad</h2>


@using (@Html.BeginForm("nuevaCiudad", "ciudad"))
{

    @Html.DropDownListFor(model => model.idEstado, Model.estados(), "-- Seleccione estado --",new { @class = "form-control" })
    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
    @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control" })

    <input type="submit" value="Registrar" class="btn btn-success btn-block margin-bottom-lg" />
}
